:root {
  /* images */
  --background-image-desktop: url(../../assets/images/bg-intro-desktop.png);
  --background-image-mobile: url(../../assets/images/bg-intro-mobile.png);
  /* color */
  --color-primary-red: hsl(0, 100%, 74%);
  --color-primary-green: hsl(154, 59%, 51%);
  --color-accent-blue: hsl(248, 32%, 49%);
  --color-neutral-dark-blue: hsl(249, 10%, 26%);
  --color-neutral-dark-blue-opacity: hsla(249, 10%, 26%, 0.3);
  --color-neutral-grayish-blue: hsl(246, 25%, 77%);
  --color-neutral-white: #fff;
  --color-neutral-black-opacity: rgb(0, 0, 0, 0.5);
  /* font size */
  --size-title-desktop: 5rem;
  --size-form-input-desktop: 1.5rem;
  --size-form-input-password: 2rem;
  --size-title-mobile: 3rem;
  --size-action-term-mobile: 1rem;
  --size-16: 1.6rem;
  --size-12: 1.2rem;
  /* font weight*/
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  /* line height */
  --line-height-16: 1.6;
  /* width */
  --width-action-desktop: 54rem;
  --width-form-input-desktop: 42.8rem;
  --width-form-submit-desktop: 46rem;
  --width-mobile: 100%;
  /* height */
  --height-action-btn-desktop: 6.2rem;
  --height-form-input-desktop: 5.6rem;
  --height-action-btn-mobile: 8.8rem;
  /* padding */
  --white-box-padding: 2rem 4rem 4rem;
  --form-input-padding: 0 0 0 3rem;
  --body-padding-mobile: 9.8rem 2.4rem 0;
  --action-btn-padding-mobile: 0 6rem;
  --action-white-box-padding-mobile: 2.5rem;
  --form-input-padding-mobile: 0 0 0 2rem;
  --action-term-padding-mobile: 0 2.4rem;
  --attribution-padding-mobile: 0 5rem 9.8rem;
  /* margin */
  --action-margin: 0 0 2.2rem 0;
  --text-title-margin: 0 0 3rem 0;
  --form-input-margin: 2rem 0 0 0;
  --text-paragraph-margin-bottom-mobile: 7rem;
  --action-btn-margin-bottom: 1.6rem;
  /* border */
  --border-none: none;
  --border-form-input: 1px solid var(--color-neutral-dark-blue);
  --border-error: 1px solid var(var(--color-primary-red));
  --border-radius-action: 1rem;
  --border-radius-form-input-submit: 0.5rem;
  /* shadow */
  --shadow: 0 8px 0px 0px rgb(0, 0, 0, 0.2);
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  font-weight: var(--regular);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--color-primary-red);
  background-image: var(--background-image-desktop);
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 111rem;
  margin: 0 auto;
}

.text {
  width: 50%;
}

.text__title {
  font-size: var(--size-title-desktop);
  font-weight: var(--semi-bold);
  color: var(--color-neutral-white);
  margin: var(--text-title-margin);
}

.text__paragraph {
  font-size: var(--size-16);
  color: var(--color-neutral-white);
  line-height: var(--line-height-16);
  margin: var(--margin-paragraph);
}

.action__btn {
  font-size: var(--size-16);
  color: var(--color-neutral-white);
  width: var(--width-action-desktop);
  height: var(--height-action-btn-desktop);
  background-color: var(--color-accent-blue);
  border: var(--border-none);
  border-radius: var(--border-radius-action);
  box-shadow: var(--shadow);
  margin: var(--action-margin);
}

.action__btn--strong {
  font-weight: var(--bold);
}

.action__white-box {
  background-color: var(--color-neutral-white);
  border: var(--border-none);
  border-radius: var(--border-radius-action);
  box-shadow: var(--shadow);
  padding: var(--white-box-padding);
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input--first,
.form__input--last,
.form__input--email,
.form__input--password,
.form__input {
  font-size: var(--size-form-input-desktop);
  font-weight: var(--bold);
  width: var(--width-form-input-desktop);
  height: var(--height-form-input-desktop);
  border: 1px solid var(--color-neutral-dark-blue-opacity);
  border-radius: var(--border-radius-form-input-submit);
  margin: var(--form-input-margin);
  padding: var(--form-input-padding);
}

.form__input--password {
  font-size: var(--size-form-input-password);
  letter-spacing: 5px;
}

.form__input--password::placeholder {
  font-size: var(--size-form-input-desktop);
  letter-spacing: normal;
}

.form__input--first:focus,
.form__input--last:focus,
.form__input--email:focus,
.form__input--password:focus,
.form__input:focus {
  outline: none;
  border: 1px solid var(--color-neutral-dark-blue);
}

.form__submit {
  width: var(--width-form-submit-desktop);
  height: var(--height-form-input-desktop);
  text-transform: uppercase;
  color: var(--color-neutral-white);
  background-color: var(--color-primary-green);
  border: var(--border-none);
  border-radius: var(--border-radius-form-input-submit);
  margin: var(--form-input-margin);
  transition: 1s;
}

.form__submit:hover {
  opacity: 0.5;
}

.action__terms {
  color: var(--color-neutral-black-opacity);
  text-align: center;
  margin: 2rem 0 0 0;
}

.action__terms--link {
  color: var(--color-primary-red);
  font-weight: var(--semi-bold);
  text-decoration: none;
}

/* -------------------------------------------- */

.form__input--error {
  color: var(--color-primary-red);
  border: 1px solid var(--color-primary-red);
}

.form__input--error::placeholder {
  color: var(--color-primary-red);
}

.form__input--error:focus{
    color: var(--color-primary-red);
    border: 1px solid var(--color-primary-red);
}

.error__alert--first,
.error__alert--last,
.error__alert--email,
.error__alert--password {
  font-size: var(--size-12);
  font-weight: var(--semi-bold);
  font-style: italic;
  text-align: end;
  color: var(--color-primary-red);
  margin-top: 1rem;
}

.error__image {
  position: absolute;
  display:none;
}

.error__image--visible{
    display:block;
}

.error__image.error__image--one {
  top: 23%;
  right: 15%;
}

.error__image.error__image--two {
  top: 35.25%;
  right: 15%;
}

.error__image.error__image--three {
  top: 47.75%;
  right: 15%;
}

.error__image.error__image--four {
  top: 60.25%;
  right: 15%;
}

/* -------------------------------------------- */

.attribution {
  display: flex;
  justify-content: center;
  margin: 5rem 0 0;
  font-size: 1.6rem;
}

.attribution__text {
  font-weight: var(--regular);
  color: var(--color-neutral-white);
}

.attribution__text--link {
  text-decoration: none;
  font-weight: var(bold);
  color: var(--color-neutral-white);
  transition: 1s;
}

.attribution__text--link:hover {
  font-size: 2rem;
  color: var(--color-primary-green);
}

@media only screen and (max-width: 1400px) {
  body {
    padding: var(--body-padding-mobile);
  }

  main {
    flex-direction: column;
    max-width: 33rem;
    width: var(--width-mobile);
  }

  .text {
    text-align: center;
    width: var(--width-mobile);
  }

  .text__title {
    font-size: var(--size-title-mobile);
    line-height: 1.4;
  }

  .text__paragraph {
    font-size: var(--size-16);
    margin-bottom: var(--text-paragraph-margin-bottom-mobile);
  }

  .action__btn {
    line-height: var(--line-height-16);
    font-size: var(--size-16);
    width: var(--width-mobile);
    height: var(--height-action-btn-mobile);
    padding: var(--action-btn-padding-mobile);
    margin-bottom: var(--action-btn-margin-bottom);
  }

  .action__white-box {
    padding: var(--action-white-box-padding-mobile);
  }

  .form__input {
    box-sizing: border-box;
    font-size: var(--size-12);
    width: var(--width-mobile);
    padding: var(--form-input-padding-mobile);
  }

  .form__submit {
    font-size: var(--size-12);
    width: var(--width-mobile);
  }

  .action__terms {
    line-height: var(--line-height-16);
    font-size: var(--size-action-term-mobile);
    padding: var(--action-term-padding-mobile);
  }

  .attribution__text {
    text-align: center;
    line-height: 1.5;
    font-size: var(--size-12);
    padding: var(--attribution-padding-mobile);
  }
}
